[submodule "1-christine"]
	path = 1-christine
	url = https://github.com/czchapma/tech-ladies-lightning-talks.git
[submodule "4-nhori"]
	path = 4-nhori
	url = https://github.com/nhorilopchan/tech-ladies-lightning-talks.git
[submodule "7-amanda"]
	path = 7-amanda
	url = https://github.com/amandamunoz/tech-ladies-agile-gardening.git
[submodule "2-tai"]
	path = 2-tai
	url = https://github.com/tairemad/tech-ladies-lightning-talk.git